.Blog h2{
    text-align: center;
    font-size: 3rem;
    padding-top:1rem;
    display:block;
}
.Blog{
    background-color: rgb(250, 228, 209);
}
p{
    padding-left:5%;
    padding-right:5%;
    padding-bottom: 3%;
    text-align: start;
}
img{
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:60%;
    max-height:30rem;
    margin-bottom:2%;
    
}