@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
body {
  margin: 0;
  font-family: 'Merienda', cursive;
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url("./wallpaperflare.com_wallpaper.jpg") no-repeat center center fixed;
  background-size: cover;
  height:98vh; */
}
html{
  scroll-behavior: smooth;
}

